<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <% include partials/header %>
</head>
<body style="background-color:#E9ECEF">
<div class="jumbotron">
  <div class="row">
  <div class="col-sm-6" style="margin-left:2%;">
  <h1 class="display-4">BWAAAH! YOU BROKE THE INTERNET </h1>
  <br>
    <br>
  <p class="lead" style="font-weight:bold ;font-size:20px" align="center">ERROR 404</p>
  <hr class="col-sm-4">
  <br>
    <br>
    <div align="center">
  <p style="font-weight:bold; font-size:25px">This page does not exist.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/home" role="button">Go Home</a>
  </p>
</div>
</div>
  <div class="col-sm-5" >
  <img src="/images/404.png" width="68%"; class="img-responsive"/>
  </div>

</div>

<% include partials/footer.ejs %>
</div>


</body>
</html>
